Request with basic auth does not work when passwords include umlaut

* Mojolicious version: 9.35.
* Perl version: 5.38.0
* Operating system: debian 12.2

### Steps to reproduce the behavior
Basic auth does not work when passwords include umlaut.

```
use v5.38;
use Mojo::UserAgent;
use Test::Most;
use utf8;

my $ua = Mojo::UserAgent->new;
my $userinfo = 'testing:testöööng';

binmode *STDOUT,':utf8';
binmode *STDERR,':utf8';

foreach my $url (
    'https://testing:testöööng@outpost.geizhals.at/maro/testing',
    'https://testing:test%C3%B6%C3%B6%C3%B6ng@outpost.geizhals.at/maro/testing',
    ) {
    my $tx = $ua->get($url);
    is($tx->req->url->userinfo,$userinfo,'Userinfo parsed ok');
    is($tx->res->code,200,'Code 200');
}
```

Same url works fine when requested via curl

```
curl  'https://testing:test%C3%B6%C3%B6%C3%B6ng@outpost.geizhals.at/maro/testing'
hallo
```

### Expected behavior
Request should succeed

### Actual behavior
401 error


You should really should study the cookbook:
[https://docs.mojolicious.org/Mojolicious/Guides/Cookbook](url)
and the browse to "[Basic authentication]" ;-)
Create e new Mojo::URL Object and provide your authentication data there:
(use the env var MOJO_CLIENT_DEBUG and set it to 1 to get additional debug output).
E.g: (Minimal Script)

```
use Mojo::UserAgent;
use Mojo::URL;
use Test::Most;

my $ua = Mojo::UserAgent->new;
my $url = Mojo::URL->new('https://outpost.geizhals.at/maro/testing');
my $userinfo = $url->userinfo('testing:testöööng');

my $tx = $ua->get($url);
is($tx->req->url->userinfo,$userinfo,'Userinfo parsed ok');
is($tx->res->code,200,'Code 200');
```




i extended the testcase to also include explicitely created Mojo::URLs. But it also return a 401

```
use v5.38;
use Mojo::UserAgent;
use Test::Most;
use utf8;

my $ua = Mojo::UserAgent->new;
my $USERINFO = 'testing:testöööng';
my $BASEURL = 'outpost.geizhals.at/maro/testing';

my $mojo_url = Mojo::URL->new("https://$BASEURL");
$mojo_url->userinfo($USERINFO);

foreach my $url (
    "https://${USERINFO}\@${BASEURL}",
    "https://testing:test%C3%B6%C3%B6%C3%B6ng\@${BASEURL}",
    "https://testing:test%F6%F6%F6ng\@${BASEURL}",
    $mojo_url
    ) {
    my $tx = $ua->get($url);
    is($tx->req->url->userinfo,$USERINFO,'Userinfo parsed ok');
    is($tx->res->code,200,'Code 200');
}
```


According to [RFC-7617](https://www.rfc-editor.org/rfc/rfc7617) the user-pass needs to be encoded utf-8

>    The user's name is "test", and the password is the string "123"
   followed by the Unicode character U+00A3 (POUND SIGN).  Using the
   character encoding scheme UTF-8, the user-pass becomes:
      't' 'e' 's' 't' ':' '1' '2' '3' pound
      74  65  73  74  3A  31  32  33  C2  A3
      Encoding this octet sequence in Base64 ([[RFC4648], Section 4](https://www.rfc-editor.org/rfc/rfc4648#section-4)) yields:
      dGVzdDoxMjPCow==
      
The Authoritzation header from my tests contains 'dGVzdGluZzp0ZXN09vb2bmc=' which is latin-1 and not utf-8 encoded